.App {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  background-color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.App-grey{
  background-color: black;
  opacity: 0.5;
  z-index: 1000;
  border-radius: 7px;
  width: 100%;
  height: 100%;
}


.App > div {
  padding: 20px 100px 0 100px;
  font-size: 15px;

}
.App-content2 {
  grid-area: 1 / 2 / 5 / 6;
}

.App-form{
  background-color:aliceblue;
  padding: 10px 100px 10px 100px;
  margin : 20px 0 20px 0;
  border-radius: 7px;
}

.App-btn-login{
  background-color:aliceblue;
  padding: 10px 100px 10px 100px;
  margin : 20px 0 20px 0;
  border-radius: 7px;
}
.App-btn-login>button{
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #8f36b3;
  color: white;
  border: none;
  border-radius: 4px;
}
.App-btn-notif{
  background-color:aliceblue;
  padding: 10px 100px 0px 100px;
  border-radius: 7px;
  margin-bottom: -5px;;
}

.tooltip {
  text-align: left;
  position: absolute;
  display: inline-block;
  width: 33%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 420px;
  background-color:red;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
}

.tooltip .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}

.App-btn-notif>button{
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
}


.App-form >h2{
  font-weight: 300;
}
.App-form > input[type=text]{
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.App-form > input[type=email]{
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.App-form > input[type=password]{
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.App-form > input[type=tel]{
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}


.App-form > select{
  padding: 5px 15px;
  margin: 8px 10px 10px 0;
  box-sizing: border-box;
}

.App-form > input[type=submit]{
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #8f36b3;
  color: white;
  border: none;
  border-radius: 4px;
}


.App-footer{
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: aliceblue;
  background-color: #8f36b3;
}
